* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.visor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: #fff;
  border: 1px solid #cecece;
  border-radius: 10px;
}

.webCam {
  width: 100%;
  height: 50%;
}

.result {
  width: 100%;
  height: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 1.7;
}

.result-label {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.result-probability {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.training-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f2f2f2;
  border: 1px solid #cecece;
  border-radius: 10px;
}

.controller-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 15px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid #34495e;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.3s ease;
  outline: none;
}

.btn:hover {
  background-color: #34495e;
  color: #fff;
  transform: scale(1.03);
}

.btnLoad {
  background-color: #2ecc71;
  color: #fff;
  border: none;
}

.btnLoad:hover {
  background-color: #27ae60;
}

.btnTraining {
  background-color: #f39c12;
  color: #fff;
  border: none;
}

.btnTraining:hover {
  background-color: #d35400;
}

.btnSave {
  background-color: #9b59b6;
  color: #fff;
  border: none;
}

.btnSave:hover {
  background-color: #8e44ad;
}

.training-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.alph-container {
  width: 100%;
  padding: 2rem;
}

.alph-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.fieldInput {
  flex: 3;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #34495e;
  border-radius: 5px;
  outline: none;
}

.fieldInput:focus {
  border: 3px solid #3498db;
}

.btnInput {
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
}

.btnInput:hover {
  background-color: #2980b9;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.instr-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.instr-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.instr-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.instr-text {
  font-size: 1.5rem;
  line-height: 1.7;
}

.instr-steps {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0 1rem 3rem;
}
